/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.tfm .flex-group-center,
.tfm .flex-group-start,
.tfm .flex-group-end {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tfm .flex-group-start {
  justify-content: flex-start;
  text-align: left;
}
.tfm .flex-group-end {
  justify-content: flex-end;
  text-align: right;
}
.tfm .flexshrink {
  flex: 0;
}
.tfm .flex-between {
  justify-content: space-between;
}
.tfm .flexlarge {
  flex: 2;
}
.tfm .flex-align-start {
  align-items: flex-start;
  text-align: left;
}
.tfm .flex-align-end {
  align-items: flex-end;
  text-align: right;
}
.tfm .flex-align-center {
  align-items: center;
  text-align: center;
}
.tfm .flex-gap-s {
  gap: 4px;
}
.tfm .flex-gap-m {
  gap: 8px;
}
.tfm .flex-gap-l {
  gap: 12px;
}
.tfm .flex-overflow {
  flex-wrap: wrap;
}

.sheet-tabs {
  flex: 0;
  margin-bottom: 10px;
}

.tfm-tab-content {
  height: 100%;
}

.tfm nav.tabs .item {
  color: var(--tfm-colour-text);
}
.tfm nav.tabs .item.active {
  color: var(--tfm-colour-text);
  text-shadow: 0 0 8px var(--tfm-colour-text-selection-bg);
}

/*
|| Collapsible items
.collapsible - Repersents a container with collapsible elements inside of it
.collapsible-content - a container to be shrunk down when the container is collapsed
.wrapper - the actual content being shrunk down
*/
.collapsible .fa-caret-down {
  transition: all 0.3s ease-in-out;
}
.collapsible.collapsed .fa-caret-down {
  transform: rotate(-90deg);
}
.collapsible.collapsed .collapsible-content {
  grid-template-rows: 0fr;
}
.collapsible .collapsible-content {
  display: grid;
  grid-template-rows: 1fr;
  transition: all 0.3s ease-in-out;
}
.collapsible .collapsible-content > .wrapper {
  overflow: hidden;
}

/*
|| Fillable bars
.bar - main wrapper
.bar
.bar.fill
*/
.tfm-bar {
  padding: 4px;
  --tfm-bar-size: 8px;
  --tfm-bar-colour: green;
  --tfm-bar-bg: black;
  --tfm-bar-padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tfm-bar label {
  margin-right: 1em;
  flex: 0;
}
.tfm-bar.bold label {
  font-weight: bold;
}
.tfm-bar.stacked {
  display: block;
}
.tfm-bar.tfm-l {
  --tfm-bar-size: 12px;
}
.tfm-bar.tfm-s {
  --tfm-bar-size: 4px;
}
.tfm-bar > .wrapper {
  flex: 1;
  background-color: var(--tfm-bar-bg);
  border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
  height: calc(var(--tfm-bar-size) + var(--tfm-bar-padding));
  padding: var(--tfm-bar-padding);
}
.tfm-bar > .wrapper .fill {
  background-color: var(--tfm-bar-colour);
  border-radius: calc(var(--tfm-bar-size) / 2);
  height: 100%;
  max-width: 100%;
  min-width: 0%;
}

.tfm-inline-bar {
  --tfm-bar-size: 1.4rem;
}
.tfm-inline-bar.tfm-s {
  --tfm-bar-size: 1rem;
}
.tfm-inline-bar.tfm-l {
  --tfm-bar-size: 1.8rem;
}
.tfm-inline-bar > .wrapper {
  overflow: hidden;
  background-color: var(--tfm-bar-bg);
  border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
  height: auto;
  padding: var(--tfm-bar-padding);
  display: grid;
  grid-template-columns: 1fr;
}
.tfm-inline-bar > .wrapper > * {
  grid-row-start: 1;
  grid-column-start: 1;
}
.tfm-inline-bar > .wrapper .fill {
  background-color: var(--tfm-bar-colour);
  border-radius: calc(var(--tfm-bar-size) / 2);
  height: 100%;
  max-width: 100%;
  min-width: 0%;
}
.tfm-inline-bar > .wrapper .bar-inputs {
  display: flex;
  flex-direction: row;
}
.tfm-inline-bar > .wrapper .bar-inputs > * {
  flex: 1;
}
.tfm-inline-bar > .wrapper .bar-inputs input {
  height: var(--tfm-bar-size);
  font-size: calc(var(--tfm-bar-size) - 0.2em);
  border: 0px solid;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  border: 0;
}
.tfm-inline-bar > .wrapper .bar-inputs input:focus {
  box-shadow: none;
  outline-style: none;
  font-weight: 1.1em;
  color: white;
}

.tfm-input-bar {
  padding: 5px;
}

.tfm-link-wrapper {
  flex: 0;
  border: 1px solid var(--tfm-colour-border);
  border-radius: 5px;
  padding: 0 0.5rem;
  margin: 0;
}

.tfm-margin-bottom {
  margin-bottom: var(--tfm-margin);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  gap: 0.5rem;
}
.form-group > * {
  flex: 2;
}
.form-group > input[type=checkbox] {
  flex: none;
}
.form-group > label, .form-group > span.label {
  flex: 1;
  color: var(--color-form-label);
  font-weight: bold;
  line-height: var(--input-height);
  cursor: var(--cursor-default);
}
.form-group > label > i, .form-group > span.label > i {
  margin-right: 0.25rem;
}
.form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex: 2;
}
.form-group.stacked {
  flex-direction: column;
  gap: 0.2rem;
}

.tfm-tab-content {
  padding: 10px;
}

.resource-label {
  font-weight: bold;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove white;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
  color: #888;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3,
.items-list .item-name h4 {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0.1rem 2px;
  margin-bottom: 0.2rem;
  border-bottom: 1px solid var(--tfm-colour-border);
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #888;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove white;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.item-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  border-right: 1px solid var(--color-border-light-primary);
  margin-right: 12px;
  padding-right: 12px;
}
.item-panel .tag {
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: var(--color-cool-4);
  padding: 4px;
}

.item-action {
  padding-right: 2px;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

.tfm .effects-list {
  margin: 0;
  padding: 0;
}

.sheet.actor {
  background: var(--tfm-sheet-background, #ffd8ac);
  background-size: 100% 100%;
}
.sheet.actor input {
  background-color: var(--tfm-input-background-colour);
}
.sheet.actor .tfm-health-bar {
  --tfm-bar-colour: rgb(64, 142, 64);
}
.sheet.actor .tfm-corruption-bar {
  --tfm-bar-colour: rgb(131, 40, 197);
}
.sheet.actor .tfm-exp-bar {
  --tfm-bar-colour: rgb(10, 126, 184);
}
.sheet.actor .tfm-actor-header {
  display: flex;
  flex-direction: row;
}
.sheet.actor .tfm-actor-header img {
  flex: 0;
  background-color: var(--tfm-background-1, rgba(0, 0, 0, 0.2));
}
.sheet.actor .tfm-actor-header > .wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sheet.actor .tfm-actor-header > .wrapper .tfm-actor-name {
  font-size: 36px;
  height: 1.2em;
}
.sheet.actor .actor-header .profile-img {
  flex: 0 0 100px;
  min-height: 100px;
  min-width: 100px;
}
.sheet.actor .tfm-abilities-list {
  font-size: 14px;
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 2px;
}
.sheet.actor .tfm-abilities-list .tfm-ability {
  display: flex;
  flex-direction: column;
  flex: 0;
}
.sheet.actor .tfm-abilities-list .tfm-ability label {
  flex: 0;
  width: 100%;
  text-align: center;
}
.sheet.actor .tfm-abilities-list .tfm-ability > .wrapper {
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sheet.actor .tfm-abilities-list .tfm-ability > .wrapper .tfm-ability-score {
  flex: 1;
  font-size: 24px;
  height: 3rem;
  z-index: 1;
}
.sheet.actor .tfm-abilities-list .tfm-ability > .wrapper .tfm-ability-mod {
  flex: 1;
  height: 2rem;
  background-color: var(--tfm-background-2);
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.sheet.actor .tfm-abilities-list.tfm-row {
  flex-direction: row;
}
.sheet.actor .tfm-abilities-list.tfm-row .tfm-ability > .wrapper {
  flex-direction: column;
}
.sheet.actor .tfm-abilities-list.tfm-row .tfm-ability .tfm-ability-mod {
  border-radius: 0 0 5px 5px;
}
.sheet.actor .tfm-abilities-list.tfm-row .tfm-ability {
  flex: 1;
}
.sheet.actor .tfm-defences {
  padding: 4px;
}
.sheet.actor .tfm-resistance-group label {
  margin-bottom: 0.2rem;
}
.sheet.actor .tfm-proficiency {
  min-width: 120px;
  margin-bottom: var(--tfm-size-m);
}
.sheet.actor .item-name h4 {
  color: var(--tfm-colour-text);
  text-shadow: 1px 1px 4px var(--tfm-colour-text-shadow, none);
}

.sheet.item {
  background: var(--tfm-sheet-background, #ffd8ac);
  background-size: 100% 100%;
}
.sheet.item .tab[data-tab].active {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sheet.item .sheet-body {
  display: flex;
  flex: 1;
}
.sheet.item .editor {
  flex: 1;
}
.sheet.item .item-descriptions {
  gap: 10px;
}
.sheet.item .item-descriptions .description {
  padding: 5px;
  background-color: var(--tfm-input-background-colour);
  border-radius: 10px;
}
.sheet.item .item-descriptions .description label {
  text-align: center;
  font-size: 18px;
  flex: 3;
  border-bottom: 1px solid gold;
}
.sheet.item .item-descriptions .description a {
  flex: 0;
}
.sheet.item .sheet-header img {
  flex: 0;
}
.sheet.item .sheet-header .item-name {
  font-size: 36px;
  height: 1.2em;
}
.sheet.item .tfm-weapon-damage {
  margin: 0.5rem 0;
}
.sheet.item .tfm-weapon-damage .tfm-damage-list {
  padding: 0;
  margin: 0.2rem 0;
}
.sheet.item .tfm-job-features {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sheet.item .tfm-job-features > * {
  width: 100%;
}
.sheet.item .tfm-job-features .tfm-job-paths {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.sheet.item .tfm-job-features .tfm-job-paths .tfm-path {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.sheet.item .tfm-job-features .tfm-job-paths .tfm-path > .tfm-feature {
  border: 1px solid white;
  flex: 1;
}
.sheet.item .tfm-job-features .tfm-feature-implicit,
.sheet.item .tfm-job-features .tfm-feature-generic {
  display: flex;
  flex-direction: row;
  flex: 0;
  flex-wrap: wrap;
  gap: 5px;
}
.sheet.item .tfm-job-features .tfm-feature-implicit .tfm-feature,
.sheet.item .tfm-job-features .tfm-feature-generic .tfm-feature {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 5px;
  flex: 0 0;
  white-space: nowrap;
}

.tfm {
  --tfm-size-xs: 4px;
  --tfm-size-s: 6px;
  --tfm-size-m: 12px;
  --tfm-size-l: 18px;
  --tfm-size-xl: 24px;
  --tfm-font-size-xs: 0.6em;
  --tfm-font-size-s: 0.8em;
  --tfm-font-size-m: 1em;
  --tfm-font-size-l: 1.2em;
  --tfm-font-size-xl: 2em;
  --tfm-font-size-header: 4em;
  --tfm-colour-light-1: #f7f3e8;
  --tfm-colour-light-2: #f1e8d0;
  --tfm-colour-light-3: #d6c3a3;
  --tfm-colour-light-4: #b89873;
  --tfm-colour-light-5: #a58e74;
  --tfm-colour-light-6: #836953;
  --tfm-colour-dark-1: #111;
  --tfm-colour-dark-2: #222;
  --tfm-colour-dark-3: #444;
  --tfm-colour-dark-4: #555;
  --tfm-colour-dark-5: #666;
  --tfm-colour-dark-6: #777;
  --tfm-colour-warm-1: #e8ca66;
  --tfm-colour-warm-2: #ee9b3a;
  --tfm-colour-warm-3: #ec682f;
  --tfm-colour-warm-4: #a90b19;
  --tfm-colour-cool-5: #813a5e;
  --tfm-colour-cool-4: #82497a;
  --tfm-colour-cool-3: #362733;
  --tfm-colour-cool-2: #272128;
  --tfm-colour-cool-1: #150f18;
  --tfm-colour-cool-1-25: rgba(21, 15, 24, 0.25);
  --tfm-colour-cool-1-50: rgba(21, 15, 24, 0.5);
  --tfm-colour-cool-1-75: rgba(21, 15, 24, 0.75);
  --tfm-colour-cool-1-90: rgba(21, 15, 24, 0.9);
  --tfm-input-bg: rgba(0, 0, 0, 0);
  --tfm-input-c: rgba(0, 0, 0, 1);
  --tfm-margin: var(--tfm-size-m);
  --tfm-padding: var(--tfm-size-m);
  --tfm-background-pearlescent:
      radial-gradient(ellipse at 100% 0%, #80e6ff, transparent),
      radial-gradient(ellipse at 100% 90%, #ff63d5, transparent),
      radial-gradient(ellipse at 100% 180%, #f94c4c, transparent),
      radial-gradient(ellipse at 100% 270%, #5ed000, transparent);
  --tfm-background-watermelon:
      radial-gradient(ellipse at top, #ff63d5, transparent),
      radial-gradient(ellipse at bottom, #5ed000, transparent);
}

.tfm {
  --tfm-colour-1: var(--tfm-colour-light-2);
  --tfm-colour-2: var(--tfm-colour-light-4);
  --tfm-colour-3: var(--tfm-colour-light-6);
  --tfm-colour-border: var(--tfm-colour-light-6);
  --tfm-colour-text-selection-bg: var(--tfm-colour-warm-4);
  --tfm-colour-text-selection: var(--tfm-colour-light-3);
  --tfm-colour-text-shadow: var(--tfm-colour-cool-1-25);
  --tfm-colour-text: var(--tfm-colour-dark-1);
  --tfm-sheet-background: var(--tfm-colour-light-2);
  --tfm-background-1: var(--tfm-colour-light-2);
  --tfm-background-2: var(--tfm-colour-light-4);
  --tfm-background-3: var(--tfm-colour-light-6);
}
.tfm input {
  --tfm-input-background-colour: var(--tfm-colour-light-3);
}
.tfm input:disabled {
  --tfm-input-background-colour: var(--tfm-colour-light-6);
}
.tfm img {
  --tfm-background-1: var(--tfm-colour-light-4);
}
.tfm .tfm-bar {
  --tfm-bar-bg: var(--tfm-colour-cool-1-50);
}

.theme-dark .tfm {
  --tfm-colour-1: var(--tfm-colour-cool-1);
  --tfm-colour-2: var(--tfm-colour-cool-2);
  --tfm-colour-3: var(--tfm-colour-cool-3);
  --tfm-colour-text: var(--tfm-colour-light-3);
  --tfm-colour-text-selection: var(--tfm-colour-light-3);
  --tfm-colour-text-selection-bg: var(--tfm-colour-light-5);
  --tfm-colour-border: var(--tfm-colour-light-2);
  --tfm-sheet-background: var(--tfm-colour-cool-1-90);
  --tfm-background-1: var(--tfm-colour-cool-1-90);
  --tfm-background-2: var(--tfm-colour-cool-2);
  --tfm-background-3: var(--tfm-colour-cool-1);
}
.theme-dark .tfm input {
  --tfm-input-background-colour: var(--tfm-colour-cool-3);
}
.theme-dark .tfm input:disabled {
  --tfm-input-background-colour: var(--tfm-colour-cool-2);
}
.theme-dark .tfm .tfm-bar {
  --tfm-bar-bg: var(--tfm-colour-cool-1) ;
}

.tfm-xs {
  --tfm-margin: var(--tfm-size-xs);
  --tfm-padding: var(--tfm-size-xs);
  --tfm-font-size: var(--tfm-font-size-xs);
  --tfm-input-font-size: var(--tfm-font-size-xs);
}

.tfm-s {
  --tfm-margin: var(--tfm-size-s);
  --tfm-padding: var(--tfm-size-s);
  --tfm-font-size: var(--tfm-font-size-s);
  --tfm-input-font-size: var(--tfm-font-size-s);
}

.tfm-m {
  --tfm-margin: var(--tfm-size-m);
  --tfm-padding: var(--tfm-size-m);
  --tfm-font-size: var(--tfm-font-size-m);
  --tfm-input-font-size: var(--tfm-font-size-m);
}

.tfm-l {
  --tfm-margin: var(--tfm-size-l);
  --tfm-padding: var(--tfm-size-l);
  --tfm-font-size: var(--tfm-font-size-l);
  --tfm-input-font-size: var(--tfm-font-size-l);
}

.tfm-xl {
  --tfm-margin: var(--tfm-size-xl);
  --tfm-padding: var(--tfm-size-xl);
  --tfm-font-size: var(--tfm-font-size-xl);
  --tfm-input-font-size: var(--tfm-font-size-xl);
}

.tfm-font-xs {
  --tfm-font-size: var(--tfm-font-size-xs);
}

.tfm-font-s {
  --tfm-font-size: var(--tfm-font-size-s);
}

.tfm-font-m {
  --tfm-font-size: var(--tfm-font-size-m);
}

.tfm-font-l {
  --tfm-font-size: var(--tfm-font-size-l);
}

.tfm-font-xl {
  --tfm-font-size: var(--tfm-font-size-xl);
}

.tfm-pad-xs {
  --tfm-padding: var(--tfm-size-xs);
}

.tfm-pad-s {
  --tfm-padding: var(--tfm-size-s);
}

.tfm-pad-m {
  --tfm-padding: var(--tfm-size-m);
}

.tfm-pad-l {
  --tfm-padding: var(--tfm-size-l);
}

.tfm-pad-xl {
  --tfm-padding: var(--tfm-size-xl);
}

.tfm-padding {
  padding: var(--tfm-padding, --tfm-size-m);
}

.tfm-padding-right {
  padding-right: var(--tfm-padding, --tfm-size-m);
}

.tfm-padding-left {
  padding-left: var(--tfm-padding, --tfm-size-m);
}

.tfm-padding-top {
  padding-top: var(--tfm-padding, --tfm-size-m);
}

.tfm-padding-bottom {
  padding-bottom: var(--tfm-padding, --tfm-size-m);
}

.tfm-marg-xs {
  --tfm-margin: var(--tfm-size-xs);
}

.tfm-marg-s {
  --tfm-margin: var(--tfm-size-s);
}

.tfm-marg-m {
  --tfm-margin: var(--tfm-size-m);
}

.tfm-marg-l {
  --tfm-margin: var(--tfm-size-l);
}

.tfm-marg-xl {
  --tfm-margin: var(--tfm-size-xl);
}

.tfm-margin {
  margin: var(--tfm-margin, --tfm-size-m);
}

.tfm-margin-right {
  margin-right: var(--tfm-margin, --tfm-size-m);
}

.tfm-margin-left {
  margin-left: var(--tfm-margin, --tfm-size-m);
}

.tfm-margin-top {
  margin-top: var(--tfm-margin, --tfm-size-m);
}

.tfm-margin-bottom {
  margin-bottom: var(--tfm-margin, --tfm-size-m);
}

/* Styles limited to tales from myriad sheets */
.tfm {
  font-family: "Roboto", sans-serif !important;
}

#context-menu {
  width: auto;
}

/*# sourceMappingURL=main.css.map */
