/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
}
.sheet-header .header-fields {
  flex: 1;
}
.sheet-header h1.charname input {
  font-size: 28px;
}
.sheet-header h1.item-name input {
  font-size: 36px;
}

.sheet-tabs {
  flex: 0;
}

.tab.active .tab-content {
  height: 100%;
}

.tox .tox-edit-area {
  padding: 0 8px;
}

.resource-label {
  font-weight: bold;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove white;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
  color: #888;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3,
.items-list .item-name h4 {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #888;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove white;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.item-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  border-right: 1px solid var(--color-border-light-primary);
  margin-right: 12px;
  padding-right: 12px;
}
.item-panel .tag {
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: var(--color-cool-4);
  padding: 4px;
}

.item-action {
  padding-right: 2px;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

.sheet.actor .ability-list {
  font-size: 14px;
  height: 60px;
}
.sheet.actor .ability-list .ability {
  align-items: center;
  text-align: center;
  border-right: 1px solid black;
  padding: 5px;
  height: 100%;
}
.sheet.actor .ability-list .ability .label {
  font-weight: bold;
}
.sheet.actor .ability-list .ability .modifier {
  font-weight: bold;
}
.sheet.actor .ability-list .ability .score {
  text-align: center;
  min-width: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-top: 1px solid black;
}
.sheet.actor .ability-list :last-child {
  border: 0;
}
.sheet.actor .actor-header .profile-img {
  flex: 0 0 100px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 100%;
}
.sheet.actor .actor-header .identity {
  flex: 1;
}
.sheet.actor .actor-header .identity .name {
  font-weight: bold;
  font-size: 22px;
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  border-radius: 0;
  flex: 2;
}
.sheet.actor .actor-header .healthbar {
  --padding: 2px;
  --height: 18px;
  display: grid;
  flex: 0;
  background-color: black;
  border-radius: calc(var(--height) / 2 + var(--padding));
  /* (height of inner div) / 2 + padding */
  padding: 2px;
}
.sheet.actor .actor-header .healthbar > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.sheet.actor .actor-header .healthbar .bar {
  background-color: rgb(74, 186, 74);
  width: 40%;
  height: var(--height);
  border-radius: calc(var(--height) / 2 + var(--padding));
  transition: width 1s;
}
.sheet.actor .actor-header .healthbar .value {
  text-align: center;
}
.sheet.actor .actor-header .healthbar .value > * {
  color: white;
  font-weight: bold;
  padding: 0;
}
.sheet.actor .actor-header .healthbar .value input {
  height: var(--height);
  background: transparent;
  border: 0;
}
.sheet.actor .actor-header .exp {
  font-size: 12px;
}
.sheet.actor .actor-header .exp .counter {
  display: inline-flex;
  font-weight: bold;
  text-align: center;
  align-items: center;
  flex: 0 0 14px;
}
.sheet.actor .actor-header .exp .counter > * {
  text-wrap: nowrap;
}
.sheet.actor .actor-header .exp .counter input {
  font-weight: bold;
  width: 25%;
  height: 14px;
  border: 0;
}
.sheet.actor .actor-header .exp .xp-bar {
  --padding: 2px;
  --height: 8px;
  flex: 0;
  background-color: black;
  border-radius: calc(var(--height) / 2 + var(--padding));
  /* (height of inner div) / 2 + padding */
  padding: 2px;
}
.sheet.actor .actor-header .exp .xp-bar > div {
  background-color: orange;
  width: 40%;
  height: var(--height);
  border-radius: 5px;
  transition: width 1s;
}

.sheet.item .tab[data-tab].active {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sheet.item .sheet-body {
  display: flex;
  flex: 1;
}
.sheet.item .editor {
  flex: 1;
}
.sheet.item .item-descriptions {
  gap: 5px;
}
.sheet.item .item-descriptions .description {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.sheet.item .item-descriptions .description .editor-header a {
  flex: 0 0;
}
.sheet.item .item-descriptions .description .editor-header label {
  text-align: center;
  font-size: 28px;
  flex: 3;
}

/* Styles limited to tales from myriad sheets */
.form-field {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.form-field :first-child {
  flex: 2;
}
.form-field > * {
  align-items: center;
  flex: 1;
}

#context-menu {
  width: auto;
  min-width: 100px;
  max-width: 200px;
}

/*# sourceMappingURL=main.css.map */
