/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.flex-gap-s {
  gap: 4px;
}

.flex-gap-m {
  gap: 8px;
}

.flex-gap-l {
  gap: 12px;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
}
.sheet-header .header-fields {
  flex: 1;
}
.sheet-header h1.charname input {
  font-size: 28px;
}
.sheet-header h1.item-name input {
  font-size: 36px;
}

.sheet-tabs {
  flex: 0;
}

.tab.active .tab-content {
  height: 100%;
}

/*
|| Collapsible items

.collapsible - Repersents a container with collapsible elements inside of it
.collapsible-content - a container to be shrunk down when the container is collapsed
.wrapper - the actual content being shrunk down
*/
.collapsible .fa-caret-down {
  transition: all 0.3s ease-in-out;
}
.collapsible.collapsed .fa-caret-down {
  transform: rotate(-90deg);
}
.collapsible.collapsed .collapsible-content {
  grid-template-rows: 0fr;
}
.collapsible .collapsible-content {
  display: grid;
  grid-template-rows: 1fr;
  transition: all 0.3s ease-in-out;
}
.collapsible .collapsible-content > .wrapper {
  overflow: hidden;
}

/*
|| Fillable bars
.bar - main wrapper
.bar
.bar.fill
*/
.tfm-bar {
  padding: 4px;
  --tfm-bar-size: 8px;
  --tfm-bar-colour: green;
  --tfm-bar-bg: black;
  --tfm-bar-padding: 2px;
}
.tfm-bar.tfm-large {
  --tfm-bar-size: 12px;
}
.tfm-bar.tfm-small {
  --tfm-bar-size: 4px;
}
.tfm-bar .wrapper {
  background-color: var(--tfm-bar-bg);
  height: calc(var(--tfm-bar-size) + var(--tfm-bar-padding));
  border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
}
.tfm-bar .wrapper .fill {
  height: calc(var(--tfm-bar-size));
  border-radius: calc(var(--tfm-bar-size) / 2);
  background-color: var(--tfm-bar-colour);
  max-width: 100%;
}

.tfm-input-bar {
  padding: 5px;
}

.resource-label {
  font-weight: bold;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove white;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
  color: #888;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3,
.items-list .item-name h4 {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #888;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove white;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.item-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  border-right: 1px solid var(--color-border-light-primary);
  margin-right: 12px;
  padding-right: 12px;
}
.item-panel .tag {
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: var(--color-cool-4);
  padding: 4px;
}

.item-action {
  padding-right: 2px;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

.sheet.actor .tfm-health-bar {
  --tfm-bar-colour: rgb(64, 142, 64);
}
.sheet.actor .tfm-corruption-bar {
  --tfm-bar-colour: rgb(131, 40, 197);
}
.sheet.actor .tfm-actor-header {
  display: flex;
  flex-direction: row;
}
.sheet.actor .tfm-actor-header img {
  flex: 0;
}
.sheet.actor .tfm-actor-header > .wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sheet.actor .tfm-actor-header > .wrapper .tfm-actor-name {
  font-size: 36px;
  height: 1.2em;
}
.sheet.actor .tfm-abilities-list {
  font-size: 14px;
  display: flex;
  flex: 0;
  display: flex;
  flex-direction: column;
}
.sheet.actor .tfm-abilities-list.tfm-row {
  flex-direction: row;
}
.sheet.actor .tfm-abilities-list .tfm-ability {
  text-align: center;
  border-radius: 5px;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet.actor .tfm-abilities-list .tfm-ability .tfm-ability-score {
  font-size: 24px;
  height: 2em;
}
.sheet.actor .tfm-abilities-list .tfm-ability .tfm-ability-mod {
  width: 70%;
  background-color: red;
  border-radius: 0 0 5px 5px;
}
.sheet.actor .actor-header .profile-img {
  flex: 0 0 100px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 100%;
}

.sheet.item .tab[data-tab].active {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sheet.item .sheet-body {
  display: flex;
  flex: 1;
}
.sheet.item .editor {
  flex: 1;
}
.sheet.item .item-descriptions {
  gap: 10px;
}
.sheet.item .item-descriptions .description {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.sheet.item .item-descriptions .description label {
  text-align: center;
  font-size: 18px;
  flex: 3;
  border-bottom: 1px solid gold;
}
.sheet.item .item-descriptions .description a {
  flex: 0;
}

.body {
  --tfm-size-xs: 4px;
  --tfm-size-s: 6px;
  --tfm-size-m: 12px;
  --tfm-size-l: 18px;
  --tfm-size-xl: 24px;
  --tfm-colour-light-1: #f7f3e8;
  --tfm-colour-light-2: #efe6d8;
  --tfm-colour-light-3: #e7d1b1;
  --tfm-colour-light-4: #d0b8a3;
  --tfm-colour-light-5: #9f8475;
  --tfm-colour-light-6: #816b66;
  --tfm-colour-dark-1: #111;
  --tfm-colour-dark-2: #222;
  --tfm-colour-dark-3: #444;
  --tfm-colour-dark-4: #555;
  --tfm-colour-dark-5: #666;
  --tfm-colour-dark-6: #777;
  --tfm-colour-warm-1: #e8ca66;
  --tfm-colour-warm-2: #ee9b3a;
  --tfm-colour-warm-3: #ec682f;
  --tfm-colour-warm-4: #a90b19;
  --tfm-colour-cool-4: #813a5e;
  --tfm-colour-cool-3: #82497a;
  --tfm-colour-cool-2: #633a5d;
  --tfm-colour-cool-1: #35202e;
  --tfm-colour-cool-1-25: rgba(53, 32, 46, 0.25);
  --tfm-colour-cool-1-50: rgba(53, 32, 46, 0.50);
  --tfm-colour-cool-1-75: rgba(53, 32, 46, 0.75);
  --tfm-input-bg: rgba(0, 0, 0, 0);
  --tfm-input-c: rgba(0, 0, 0, 1);
}

/* Styles limited to tales from myriad sheets */
.tfm {
  font-family: "Roboto", sans-serif;
}

.form-field {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.form-field :first-child {
  flex: 2;
}
.form-field > * {
  align-items: center;
  flex: 1;
}

#context-menu {
  width: auto;
  min-width: 100px;
  max-width: 200px;
}

/*# sourceMappingURL=main.css.map */
