.sheet-tabs {
    flex: 0;
    margin-bottom: 10px;
}

.tfm nav.tabs .item {
    color: var(--tfm-colour-text);

    &.active {
        color: var(--tfm-colour-text);
        text-shadow: 0 0 8px var(--tfm-colour-text-selection-bg);
    }
}



/*
|| Collapsible items
.collapsible - Repersents a container with collapsible elements inside of it
.collapsible-content - a container to be shrunk down when the container is collapsed
.wrapper - the actual content being shrunk down
*/

.collapsible {
    .fa-caret-down {
        transition: all 0.3s ease-in-out;
    }

    &.collapsed {
        .fa-caret-down {
            transform: rotate(-90deg);
        }

        .collapsible-content {
            grid-template-rows: 0fr;
        }
    }

    .collapsible-content {
        display: grid;
        grid-template-rows: 1fr;
        transition: all 0.3s ease-in-out;

        >.wrapper {
            overflow: hidden;
        }
    }
}

/*
|| Fillable bars
.bar - main wrapper
.bar
.bar.fill
*/

.tfm-bar {
    padding: 4px;
    --tfm-bar-size: 8px;
    --tfm-bar-colour: green;
    --tfm-bar-bg: black;
    --tfm-bar-padding: 2px;

    // Stacked bars have the labels on top instead of inline
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        margin-right: 1em;
        flex: 0;
    }

    &.bold label {
        font-weight: bold;
    }

    &.stacked {
        display: block;
    }

    // Configuration classes
    &.tfm-l {
        --tfm-bar-size: 12px;
    }

    &.tfm-s {
        --tfm-bar-size: 4px;
    }

    >.wrapper {
        flex: 1;
        background-color: var(--tfm-bar-bg);
        border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
        height: calc(var(--tfm-bar-size) + var(--tfm-bar-padding));
        padding: var(--tfm-bar-padding);

        .fill {
            background-color: var(--tfm-bar-colour);
            border-radius: calc(var(--tfm-bar-size) / 2);
            height: 100%;
            max-width: 100%;
            min-width: 0%;
        }
    }
}

// bars with inputs inside the bar itself
.tfm-inline-bar {
    --tfm-bar-size: 1.4rem;

    &.tfm-s {
        --tfm-bar-size: 1rem;
    }

    &.tfm-l {
        --tfm-bar-size: 1.8rem;
    }

    >.wrapper {
        overflow: hidden;
        background-color: var(--tfm-bar-bg);
        border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
        height: auto;
        padding: var(--tfm-bar-padding);

        // forces the child fill element to overlap with any other contents
        display: grid;
        grid-template-columns: 1fr;

        >* {
            grid-row-start: 1;
            grid-column-start: 1;
        }

        .fill {
            background-color: var(--tfm-bar-colour);
            border-radius: calc(var(--tfm-bar-size) / 2);
            height: 100%;
            max-width: 100%;
            min-width: 0%;
        }

        .bar-inputs {
            display: flex;
            flex-direction: row;

            >* {
                flex: 1;
            }

            input {
                height: var(--tfm-bar-size);
                font-size: calc(var(--tfm-bar-size) - 0.2em);
                border: 0px solid;
                background: rgba(0, 0, 0, 0);
                text-align: center;
                border: 0;

                &:focus {
                    box-shadow: none;
                    outline-style: none;
                    font-weight: 1.1em;
                    color: white;
                }
            }
        }
    }
}

// wrapper for a resource fillable bar and it's inputs
.tfm-input-bar {
    padding: 5px;
}

.tfm-link-wrapper {
    flex: 0;
    border: 1px solid var(--tfm-colour-border);
    border-radius: 5px;
    padding: 0 0.5rem;
    margin: 0;
}

//========================================================================================
//> Margins and padding
//========================================================================================
.tfm-margin-bottom {
    margin-bottom: var(--tfm-margin);
}

//========================================================================================
//> Text Alignment
//========================================================================================
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-nowrap {
    white-space: nowrap;
}

//========================================================================================
//> Form Groups & Fields
//========================================================================================

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    gap: 0.5rem;

    >* {
        flex: 2;
    }

    >input[type="checkbox"] {
        flex: none;
    }

    >label,
    >span.label {
        flex: 1;
        color: var(--color-form-label);
        font-weight: bold;
        line-height: var(--input-height);
        cursor: var(--cursor-default);

        >i {
            margin-right: 0.25rem;
        }
    }

    .form-fields {
        display: flex;
        flex-direction: row;
        flex: 2;
    }

    &.stacked {
        flex-direction: column;
        gap: 0.2rem;
    }

    &:hover {

        >label,
        >span.label {
            color: var(--color-form-label-hover);
        }
    }
}

//========================================================================================
//> Tabs
//========================================================================================
.tfm-tab-content {
    padding: 10px 0;
    height: 100%;
}

//======================================================================================
//> Borders
//======================================================================================

.tfm-border {
    border: 1px solid var(--tfm-colour-border, black);

    &.rounded, .round {
        border-radius: var(--tfm-border-radius, --tfm-size-m);
    }
}

.rounded, .round {
    border-radius: var(--tfm-border-radius, --tfm-size-m);
}