.item-form {
    font-family: $font-primary;
}

.dialog-form {}

.sheet-header {
    flex: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        input {
            font-size: 28px;
        }
    }

    h1.item-name {
        input {
            font-size: 36px;
        }
    }
}

.sheet-tabs {
    flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {}

.tab.active .tab-content {
    height: 100%;
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}