.sheet-header {
    flex: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        input {
            font-size: 28px;
        }
    }

    h1.item-name {
        input {
            font-size: 36px;
        }
    }
}

.sheet-tabs {
    flex: 0;
}

.tfm nav.tabs .item {
    color: var(--tfm-colour-text);
    &.active {
        color: var(--tfm-colour-text);
        text-shadow: 0 0 8px var(--tfm-colour-text-selection-bg);
    }
}

/*
|| Collapsible items

.collapsible - Repersents a container with collapsible elements inside of it
.collapsible-content - a container to be shrunk down when the container is collapsed
.wrapper - the actual content being shrunk down
*/

.collapsible {
    .fa-caret-down {
        transition: all 0.3s ease-in-out;
    }

    &.collapsed {
        .fa-caret-down {
            transform: rotate(-90deg);
        }

        .collapsible-content {
            grid-template-rows: 0fr;
        }
    }

    .collapsible-content {
        display: grid;
        grid-template-rows: 1fr;
        transition: all 0.3s ease-in-out;

        >.wrapper {
            overflow: hidden;
        }
    }
}


//========================================================================================
// Fillable bars
//========================================================================================
/*
|| Fillable bars
.bar - main wrapper
.bar
.bar.fill
*/

.tfm-bar {
    padding: 4px;
    --tfm-bar-size: 8px;
    --tfm-bar-colour: green;
    --tfm-bar-bg: black;
    --tfm-bar-padding: 2px;

    // Configuration classes
    &.tfm-l {
        --tfm-bar-size: 12px;
    }

    &.tfm-s {
        --tfm-bar-size: 4px;
    }

    >.wrapper {
        background-color: var(--tfm-bar-bg);
        border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
        height: calc(var(--tfm-bar-size) + var(--tfm-bar-padding));
        padding: var(--tfm-bar-padding);

        .fill {
            background-color: var(--tfm-bar-colour);
            border-radius: calc(var(--tfm-bar-size) / 2);
            height: 100%;
            max-width: 100%;
            min-width: 0%;
        }
    }
}

// bars with inputs inside the bar itself
.tfm-inline-bar {
    --tfm-bar-size: 1.5em;

    >.wrapper {
        overflow: hidden;
        background-color: var(--tfm-bar-bg);
        border-radius: calc((var(--tfm-bar-size) + var(--tfm-bar-padding)) / 2);
        height: auto;
        padding: var(--tfm-bar-padding);

        // forces the child fill element to overlap with any other contents
        display: grid;
        grid-template-columns: 1fr;

        >* {
            grid-row-start: 1;
            grid-column-start: 1;
        }

        .fill {
            background-color: var(--tfm-bar-colour);
            border-radius: calc(var(--tfm-bar-size) / 2);
            height: 100%;
            max-width: 100%;
            min-width: 0%;
        }

        input {
            height: var(--tfm-bar-size);
            font-size: calc(var(--tfm-bar-size) - 0.2em);
            border: 0px solid;
            color: white;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

// wrapper for a resource fillable bar and it's inputs
.tfm-input-bar {
    padding: 5px;
}