.body {
    --tfm-size-xs: 4px;
    --tfm-size-s: 6px;
    --tfm-size-m: 12px;
    --tfm-size-l: 18px;
    --tfm-size-xl: 24px;

    --tfm-colour-light-1: #f7f3e8;
    --tfm-colour-light-2: #efe6d8;
    --tfm-colour-light-3: #e7d1b1;
    --tfm-colour-light-4: #d0b8a3;
    --tfm-colour-light-5: #9f8475;
    --tfm-colour-light-6: #816b66;

    --tfm-colour-dark-1: #111;
    --tfm-colour-dark-2: #222;
    --tfm-colour-dark-3: #444;
    --tfm-colour-dark-4: #555;
    --tfm-colour-dark-5: #666;
    --tfm-colour-dark-6: #777;

    --tfm-colour-warm-1: #e8ca66;
    --tfm-colour-warm-2: #ee9b3a;
    --tfm-colour-warm-3: #ec682f;
    --tfm-colour-warm-4: #a90b19;
    --tfm-colour-cool-4: #813a5e;
    --tfm-colour-cool-3: #82497a;
    --tfm-colour-cool-2: #633a5d;
    --tfm-colour-cool-1: #35202e;

    --tfm-colour-cool-1-25: rgba(53, 32, 46, 0.25);
    --tfm-colour-cool-1-50: rgba(53, 32, 46, 0.50);
    --tfm-colour-cool-1-75: rgba(53, 32, 46, 0.75);

    --tfm-input-bg: rgba(0, 0, 0, 0);
    --tfm-input-c: rgba(0, 0, 0, 1);
}