.tfm {
    --tfm-size-xs: 4px;
    --tfm-size-s: 6px;
    --tfm-size-m: 12px;
    --tfm-size-l: 18px;
    --tfm-size-xl: 24px;

    --tfm-font-size-xs: 0.6rem;
    --tfm-font-size-s: 0.8rem;
    --tfm-font-size-m: 1rem;
    --tfm-font-size-l: 1.2rem;
    --tfm-font-size-xl: 2rem;

    --tfm-colour-light-1: #f7f3e8;
    --tfm-colour-light-2: #f1e8d0;
    --tfm-colour-light-3: #d6c3a3;
    --tfm-colour-light-4: #b89873;
    --tfm-colour-light-5: #a58e74;
    --tfm-colour-light-6: #836953;

    --tfm-colour-dark-1: #111;
    --tfm-colour-dark-2: #222;
    --tfm-colour-dark-3: #444;
    --tfm-colour-dark-4: #555;
    --tfm-colour-dark-5: #666;
    --tfm-colour-dark-6: #777;

    --tfm-colour-warm-1: #e8ca66;
    --tfm-colour-warm-2: #ee9b3a;
    --tfm-colour-warm-3: #ec682f;
    --tfm-colour-warm-4: #a90b19;
    --tfm-colour-cool-4: #813a5e;
    --tfm-colour-cool-3: #82497a;
    --tfm-colour-cool-2: #302831;
    --tfm-colour-cool-1: #161415;

    --tfm-colour-cool-1-25: rgba(22, 20, 21, 0.25);
    --tfm-colour-cool-1-50: rgba(22, 20, 21, 0.5);
    --tfm-colour-cool-1-75: rgba(10, 0, 14, 0.75);
    --tfm-colour-cool-1-90: rgba(21, 15, 24, 0.9);

    --tfm-input-bg: rgba(0, 0, 0, 0);
    --tfm-input-c: rgba(0, 0, 0, 1);

    //=================================================================
    // Funny styles for funsies
    //=================================================================
    --tfm-background-pearlescent:
        radial-gradient(ellipse at 100% 0%, #80e6ff, transparent),
        radial-gradient(ellipse at 100% 90%, #ff63d5, transparent),
        radial-gradient(ellipse at 100% 180%, #f94c4c, transparent),
        radial-gradient(ellipse at 100% 270%, #5ed000, transparent);
    --tfm-background-watermelon:
        radial-gradient(ellipse at top, #ff63d5, transparent),
        radial-gradient(ellipse at bottom, #5ed000, transparent);
}

//======================================================================================
// Light mode setup
//======================================================================================
.theme-light .tfm {
    --tfm-colour-text: var(--tfm-colour-dark-1);
    --tfm-colour-text-selection: var(--tfm-colour-light-3);
    --tfm-colour-text-selection-bg: var(--tfm-colour-warm-4);
    --tfm-colour-text-shadow: var(var(--tfm-colour-cool-1-25));

    --tfm-border-colour: var(--tfm-colour-light-6);
    --tfm-background: var(--tfm-colour-light-2);
    --tfm-input-background-colour: var(--tfm-colour-light-3);

    input {
        --tfm-input-background-colour: var(--tfm-colour-light-3);

        &:disabled {
            --tfm-input-background-colour: var(--tfm-colour-light-6);
        }
    }

    img {
        --tfm-background: var(--tfm-colour-light-4);
    }

    .tfm-bar {
        --tfm-bar-bg: var(--tfm-colour-cool-1-50);
    }
}

//======================================================================================
// Dark mode setup
//======================================================================================
.theme-dark .tfm {
    --tfm-colour-text: var(--tfm-colour-light-3);
    --tfm-colour-text-selection: var(--tfm-colour-light-3);
    --tfm-colour-text-selection-bg: var(--tfm-colour-cool-2);

    --tfm-border-colour: var(--tfm-colour-light-2);
    --tfm-background: var(--tfm-colour-cool-1-90);
    --tfm-input-background-colour: var(--tfm-colour-cool-2);

    input {
        --tfm-input-background-colour: var(--tfm-colour-cool-2);

        &:disabled {
            --tfm-input-background-colour: var(--tfm-colour-cool-1);
        }
    }

    .tfm-bar {
        --tfm-bar-bg: var(--tfm-colour-cool-1)
    }
}