<form>
    <div class="flexcol">
        <div class="flexrow">
            <div>TFM.dialog.roll.spell.component</div>
            <input name="component" type="checkbox"/>
        </div>
        <div class="flexrow">
            <div>TFM.dialog.roll.spell.dice</div>
            <input name="diceCount" type="number" placeholder="{{maxDice}}" value="{{mod}}"/>
        </div>
    </div>
</form>