<form>
    <div class="flexcol">

        <div class="flexrow">
            <p>TFM.dialog.roll.spell.component</p>
            <input name="component" type="checkbox"/>
        </div>

        <div class="flexrow">
            <p>TFM.dialog.roll.spell.dice</p>
            <div class="flexrow">
                <input name="minus" type="button">
                <input name="diceCount" type="number" placeholder="{{maxDice}}" value="{{mod}}" disabled/>
                <input name="plus" type="button">
            </div>
            
        </div>
    </div>
</form>