<form class="tfm">

    <div class="form-field">
        <label>TFM.dialog.weapon.damage</label>
        <input name="damageFormula" type="text" />
    </div>

    <div class="form-field">
        <label>TFM.dialog.weapon.penalty</label>
        <input name="penalty" type="number" />
    </div>

    <div class="form-field">
        <label>TFM.dialog.weapon.broken</label>
        <input name="broken" type="checkbox" disabled {{#if item.broken}}checked{{/if}} />
    </div>

    <div class="form-field">
        <label>TFM.dialog.weapon.proficient</label>
        <input name="proficient" type="checkbox" disabled {{#if item.proficient}}checked{{/if}} />
    </div>

    <div class="form-field">

    </div>

    <div class="form-field">

    </div>

</form>