<div class="{{tabs.features.tabCssClass}}" data-group="primary" data-tab="biography">
    <section style="display: flex; flex: 1; flex-direction: column; width: 100%;">
        {{editor system.notes target='system.notes' button=true engine="prosemirror" collaborate=false}}
    </section>
</div>