<div>
    <div class="form-group">
        <label>Ability:<b> {{localize label}}</b></label>
        <input name="ability" type="number" value="{{ability}}" disabled>
    </div>
    {{> 'tfm.roll-options'}}
</div>