<div>
    <div class="form-group">
        <p>TFM.dialog.dice</p>
        <input name="diceCount" type="number" placeholder="{{maxDice}}" value="{{mod}}" />
    </div>

    <div class="form-group">
        <p>TFM.dialog.component</p>
        <select name="component">
            <option value="itemUuid">Component 1</option>
            <option value="itemUuid">Component 2</option>
            <option value="itemUuid">Component 3</option>
        </select>
        <input name="useComponent" type="checkbox" />
    </div>

    <div class="form-group">
        <p>TFM.dialog.AllowMiscast</p>
        <input name="miscast" type="checkbox" checked />

    </div>
</div>