<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> "tfm.character-header"}}

    {{> 'tfm.character-tabs'}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll
            data to
            the rollData property. --}}
            {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "tfm.actor-items-sorted" list=items title='items'}}
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "tfm.actor-spells"}}
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "tfm.actor-effects"}}
        </div>

    </section>
</form>