<div class="resource flexrow">
    <label class="resource-label">Armour Weight</label>
    {{{ selectors.weightClass }}}
</div>

<div class="resource flexrow">
    <label class="resource-label">Armour Slot</label>
    {{{ selectors.itemSlot }}}
</div>

<div class="resource flexrow">
    <label class="resource-label">Damage Reduction</label>
    <input type="number" name="system.dr" value="{{system.dr}}" data-dtype="Number" />
</div>