<header class="sheet-header">
    <img class="profile-img" src="{{document.img}}" data-edit="img" title="{{name}}" width="100" height="100" data-action="editImage" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
    </div>
</header>