.sheet.actor {
    background: var(--tfm-colour-background, #ffd8ac);
    background-size: 100% 100%;

    //========================================================================================
    //> config classes
    //========================================================================================
    .tfm-health-bar {
        --tfm-bar-colour: rgb(64, 142, 64);
    }

    .tfm-corruption-bar {
        --tfm-bar-colour: rgb(131, 40, 197);
    }

    .tfm-exp-bar {
        --tfm-bar-colour: rgb(10, 126, 184);
    }

    //========================================================================================
    //> header
    //========================================================================================
    .tfm-actor-header {
        display: flex;
        flex-direction: row;

        img {
            flex: 0;
            background-color: var(--tfm-colour-primary, rgba(0, 0, 0, 0.2));
        }

        >.wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .tfm-actor-name {
            font-size: 36px;
            height: 1.2em;
        }
    }

    .actor-header {
        .profile-img {
            object-fit: fill;
            flex: 0 0 100px;
            min-height: 100px;
            min-width: 100px;
        }
    }

    //========================================================================================
    //> Body
    //========================================================================================
    .tfm-actor-sheet-body {
        display: flex;
        flex-direction: column;
        min-height: 500px;
    }

    .tfm-tab-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        .tab.active {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    prose-mirror {
        flex: 1;
    }

    //========================================================================================
    //> Abilities
    //========================================================================================
    .tfm-abilities-list {
        font-size: 14px;
        display: flex;
        flex: 0 0;
        flex-direction: column;

        box-sizing: border-box;
        margin: 2px;

        .tfm-ability {
            display: flex;
            flex-direction: column;
            flex: 0;

            label {
                flex: 0;
                width: 100%;
                text-align: center;
            }

            >.wrapper {
                align-items: center;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                text-align: center;

                .tfm-ability-score {
                    background-color: var(--tfm-colour-primary);
                    flex: 1;
                    font-size: 24px;
                    height: 3rem;
                    width: 3rem;
                    z-index: 1;
                }

                .tfm-ability-mod {
                    align-items: center;
                    background-color: var(--tfm-colour-secondary);
                    border-radius: 0 5px 5px 0;
                    display: flex;
                    flex: 1;
                    height: 2rem;
                    justify-content: center;
                    width: 3rem;
                    z-index: -1;
                }
            }
        }

        &.tfm-row {
            flex-direction: row;

            .tfm-ability {
                >.wrapper {
                    flex-direction: column;
                }

                .tfm-ability-mod {
                    border-radius: 0 0 5px 5px;
                    width: 60%;
                }
            }

            .tfm-ability {
                flex: 1;
            }
        }
    }

    //========================================================================================
    //> Defence
    //========================================================================================
    .tfm-defences {
        padding: 4px;
    }

    //========================================================================================
    //> Resistance
    //========================================================================================
    .tfm-resistance-group {
        label {
            margin-bottom: 0.2rem;
        }
    }

    //========================================================================================
    // Proficiency list
    //========================================================================================
    .tfm-proficiency {
        min-width: 120px;
        margin-bottom: var(--tfm-size-m);
    }

    //========================================================================================
    //> Skills list
    //========================================================================================

    //========================================================================================
    //> Item lists
    //========================================================================================
    .item-name {
        h4 {
            color: var(--tfm-colour-text);
            text-shadow: 1px 1px 4px var(--tfm-colour-text-shadow, none);
        }
    }

    //========================================================================================
    //> Spell lists
    //========================================================================================

}