.sheet.actor {
    background: var(--tfm-background, #ffd8ac);
    background-size: 100% 100%;

    //========================================================================================
    // Inputs
    //========================================================================================
    input {
        background-color: var(--tfm-input-background-colour);
    }

    //========================================================================================
    // config classes
    //========================================================================================
    .tfm-health-bar {
        --tfm-bar-colour: rgb(64, 142, 64);
    }

    .tfm-corruption-bar {
        --tfm-bar-colour: rgb(131, 40, 197);
    }

    .tfm-exp-bar {
        --tfm-bar-colour: rgb(10, 126, 184);
    }

    //========================================================================================
    // header
    //========================================================================================
    .tfm-actor-header {
        display: flex;
        flex-direction: row;

        img {
            flex: 0;
            background-color: var(--tfm-background, rgba(0, 0, 0, 0.2));
        }

        >.wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;

            .tfm-actor-name {
                font-size: 36px;
                height: 1.2em;
            }
        }
    }

    .actor-header {
        .profile-img {
            flex: 0 0 100px;
            min-height: 100px;
            min-width: 100px;
        }
    }

    //========================================================================================
    // Abilities
    //========================================================================================
    .tfm-abilities-list {
        font-size: 14px;
        display: flex;
        flex: 1;
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        margin: 2px;

        .tfm-ability {
            display: flex;
            flex-direction: column;
            flex: 0;

            label {
                flex: 0;
                width: 100%;
                text-align: center;
            }



            >.wrapper {
                text-align: center;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .tfm-ability-score {
                    flex: 1;
                    font-size: 24px;
                    height: 3rem;
                    z-index: 1;
                }

                .tfm-ability-mod {
                    flex: 1;
                    height: 2rem;
                    background-color: var(--tfm-colour-cool-1);
                    border-radius: 0 5px 5px 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    z-index: -1;
                }
            }
        }

        &.tfm-row {
            flex-direction: row;

            .tfm-ability {
                >.wrapper {
                    flex-direction: column;
                }

                .tfm-ability-mod {
                    border-radius: 0 0 5px 5px;
                }
            }

            .tfm-ability {
                flex: 1;
            }
        }
    }



    //========================================================================================
    // Abilities
    //========================================================================================
    .tfm-defences {
        border: 1px solid;
        border-radius: 5px;
        padding: 4px;

        label {
            font-size: 1.5rem;
        }
    }
}