&.sheet.item {

    .tab[data-tab].active {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .sheet-body {
        display: flex;
        flex: 1;
    }

    .editor {
        flex: 1;
    }

    .item-descriptions {
        gap: 5px;

        .description {
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.2);

            .editor-header {
                >* {
                    flex: 1;
                }

                a {
                    flex: 0 0 36px;
                    height: 36px;
                }

                label {
                    font-size: 28px;
                    flex: 3;
                }
            }


        }
    }
}