.sheet.item {

    background: var(--tfm-background, #ffd8ac);
    background-size: 100% 100%;

    .tab[data-tab].active {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .sheet-body {
        display: flex;
        flex: 1;
    }

    .editor {
        flex: 1;
    }

    .item-descriptions {
        gap: 10px;

        .description {
            padding: 5px;
            background-color: var(--tfm-input-background-colour);
            border-radius: 10px;

            label {
                text-align: center;
                font-size: 18px;
                flex: 3;
                border-bottom: 1px solid gold;
            }

            a {
                flex: 0;
            }
        }
    }
}