.sheet.item {

    background: var(--tfm-colour-background, #ffd8ac);
    background-size: 100% 100%;

    .tab[data-tab].active {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .tfm-item-sheet-body {
        display: flex;
        flex: 1;
    }

    .editor {
        flex: 1;
    }

    .item-descriptions {
        gap: 10px;

        .description {
            padding: 5px;
            background-color: var(--tfm-input-background-colour);
            border-radius: 10px;

            label {
                text-align: center;
                font-size: 18px;
                flex: 3;
                border-bottom: 1px solid gold;
            }

            a {
                flex: 0;
            }
        }
    }

    //============================================================================================
    //> Headers
    //============================================================================================
    .sheet-header {
        margin-bottom: 0.5rem;

        img {
            flex: 0;
        }

        .item-name {
            font-size: 36px;
            height: 1.2em;
        }
    }

    //============================================================================================
    //> Weapon sheets
    //============================================================================================
    .tfm-weapon-damage {
        margin: 0.5rem 0;

        .tfm-damage-list {
            padding: 0;
            margin: 0.2rem 0;
        }
    }

    //============================================================================================
    //> Job sheets
    //============================================================================================
    .tfm-job-features {
        display: flex;
        flex: 1;
        flex-direction: column;

        >* {
            width: 100%;
        }

        .tfm-job-paths {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;

            .tfm-path {
                display: flex;
                flex-direction: column;
                flex: 1;
                height: 100%;

                >.tfm-feature {
                    background-color: var(--tfm-colour-secondary);
                    flex: 1;
                    padding: 0.5rem;
                    border-radius: 5px;
                }
            }

        }

        .tfm-feature-implicit,
        .tfm-feature-generic {
            display: flex;
            flex-direction: row;

            flex: 0;
            flex-wrap: wrap;
            gap: 5px;

            .tfm-feature {
                border: 1px solid white;
                border-radius: 5px;
                padding: 2px 5px;
                flex: 0 0;
                white-space: nowrap;
            }
        }
    }
}