{{!-- Sheet Header --}}
<header class="actor-header flexrow">
    {{> "tfm.actor-portrait"}}
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        {{> "tfm.actor-abilities"}}
    </div>
</header>