//==================================================
// ||Scripts to use
//==================================================
@use "sass:meta";

/* Global styles */
@use 'global/window';
@use 'global/grid';
@use 'global/flex';

@use 'components/forms';
@use 'components/resource';
@use 'components/items';
@use 'components/effects';

@use 'sheets/actor';
@use 'sheets/item';

@use 'utils/variables';

// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//==================================================
// ||Variables
//==================================================

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

/* Styles limited to tales from myriad sheets */
.tfm {
    font-family: 'Roboto', sans-serif !important;
}

.form-field {
    display: flex;
    flex-direction: row;
    flex: 1;

    :first-child {
        flex: 2;
    }

    >* {
        align-items: center;
        flex: 1;
    }
}

#context-menu {
    width: auto;
}