//==================================================
// ||Scripts to use
//==================================================
@use "sass:meta";

/* Global styles */
@use 'global/window';
@use 'global/grid';
@use 'global/flex';

@use 'components/forms';
@use 'components/resource';
@use 'components/items';
@use 'components/effects';

@use 'sheets/actor';
@use 'sheets/item';

@use 'utils/variables';

// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//==================================================
//> Variables
//==================================================

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

/* Styles limited to tales from myriad sheets */
.tfm {
    font-family: 'Roboto', sans-serif !important;
}

#context-menu {
    width: auto;
}

prose-mirror {
    &.active {
        display: flex;
        flex-direction: column;

    }

    button.toggle {
        transform: translate(-20%, 20%);
    }

    .editor-menu {
        flex: 0;
    }

    .editor-container {
        flex: 1;
        border-radius: 0.3rem;
    }

    .editor-content {
        padding: 0.5rem;
        border-radius: 0.3rem;
        background-color: var(--tfm-colour-primary);
    }
}

a.content-link {
    line-height: 1.5rem;
    padding: 0 0.25rem;
}