<form class="{{cssClass}}" autocomplete="off">
    {{> "tfm.item-header"}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="settings">Settings</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{> 'tfm.item-description'}}
        </div>

        <div class="tab settings" data-group="primary" data-tab="settings">
            <div class="resource flexrow">
                <label class="resource-label">Armour Weight</label>
                {{{ selectors.weightClass }}}
            </div>

            <div class="resource flexrow">
                <label class="resource-label">Armour Slot</label>
                {{{ selectors.itemSlot }}}
            </div>

            <div class="resource flexrow">
                <label class="resource-label">Damage Reduction</label>
                <input type="number" name="system.dr" value="{{system.dr}}" data-dtype="Number" />
            </div>
        </div>
    </section>
</form>